# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Playground/v16
/bin/Debug-x64/Playground
/bin-int/Debug-x64/Playground
/bin/Release-x64/Playground
/bin-int/Release-x64/Playground
/PlaygroundRTX/Textures/.mayaSwatches

# Compiled Shaders
/PlaygroundRTX/Shaders/*.spv
/.vs
*.suo
bin
bin-int
